@page
@model MyApp.Namespace.DeployContainerModel
@{
    ViewData["Title"] = "Deploy Container";
}

<!-- Page Title -->
<h2 class="text-center mt-4">@ViewData["Title"]</h2>

<!-- User Input Form to Deploy Container -->
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">

            <form method="post" asp-page-handler="DeployInstance" class="form-group">
                <!-- Deployment Name Field -->
                <div class="form-group mb-3">
                    <label for="DeploymentName" class="form-label">Deployment Name</label>
                    <input type="text" class="form-control" id="DeploymentName" name="DeploymentName"
                        placeholder="Enter Deployment Name" asp-for="DeploymentName" />
                    <span asp-validation-for="DeploymentName" class="text-danger"></span>
                </div>

                <!-- Docker Image Selection Field -->
                <div class="form-group mb-3">
                    <label for="ImageName" class="form-label">Select Docker Image</label>
                    <select class="form-control" id="ImageName" name="ImageName" asp-for="ImageName">
                        <option value="">-- Select an Image --</option>
                        <option value="python">Python Server </option>
                        <option value="node">Node.js Server </option>
                        @*  socket image *@
                        <option value="offlinegmbh/socketio">Socket.io </option>
                        @* grpc/go *@
                        <option value="grpc/go">gRPC Server </option>
                        <option value="nginx">Nginx Server </option>

                        <option value="eclipse-temurin">Java Server 
                        </option>
                        <option value="golang">Go Server </option>
                        <option value="ruby">Ruby Server </option>
                        <option value="php">PHP Server </option>
                        <option value="rust">Rust Server </option>
                        <option value="mcr.microsoft.com/dotnet/sdk:7.0">.NET Server 
                        </option>
                        <option value="redis">Redis Server </option>
                        <option value="mysql">MySQL Server </option>
                    </select>
                    <span asp-validation-for="ImageName" class="text-danger"></span>
                </div>

                <!-- Submit Button -->
                <div class="text-center">
                    <button type="submit" class="btn btn-success deploy-btn">Deploy Container</button>
                </div>
            </form>

        </div>
    </div>
</div>

@section Scripts {
    <!-- Optional: Include client-side validation scripts -->
    <partial name="_ValidationScriptsPartial" />
}